{% extends "Billing/base.html" %}
{% block content %}
<!--<div class="container">

    <br>
    <br>
    <br>
    <br>
    <br>
    <h1 class="text-success">
      Current Balance : {{ customer.balance }}
    </h1>

    <form action="{% url 'specific_order' order.pk %}" method="post">
      {% csrf_token %}
      <h1 class="text-success">
        <strong> Order </strong>
      </h1>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>Type of Thali</th>
            <th>Quantity</th>
            <th>
              <button type="submit" class="btn btn-success">Edit Order</button>
            </th>
            <th>
              <a href="/bill/{{ order.pk }}" class="btn btn-success" target="_blank">Print Bill</a>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&#8377; 60</td>
            <td>
              <input class="thali-num" type="number" value="{{ order.quantity_60 }}" name="60-thali" >
            </td>
          </tr>
          <tr>
            <td>&#8377; 75</td>
            <td>
              <input class="thali-num" type="number" value="{{ order.quantity_75 }}" name="75-thali" >
            </td>
          </tr>
          <tr>
            <td>&#8377; 100</td>
            <td>
              <input class="thali-num" type="number" value="{{ order.quantity_100 }}" name="100-thali" >
            </td>
          </tr>
          <tr>
            <td>&#8377; 125</td>
            <td>
              <input class="thali-num" type="number" value="{{ order.quantity_125 }}" name="125-thali" >
            </td>
          </tr>
          <tr>
            <td>&#8377; 150</td>
            <td>
              <input class="thali-num" type="number" value="{{ order.quantity_150 }}" name="150-thali" >
            </td>
          </tr>
          <tr>
            <td>&#8377; 200</td>
            <td>
              <input class="thali-num" type="number" value="{{ order.quantity_200 }}" name="200-thali" >
            </td>
          </tr>
          <tr>
            <td>
              <strong>Remarks</strong>
            </td>
            <td>
              <input type="text" name="remarks" value="{{ order.remarks }}" >
            </td>
          </tr>
          <tr>
            <td>
              <strong>Name</strong>
            </td>
            <td>
              <input type="text" name="name" value="{{ order.name }}" required >
            </td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td>
              <input type="text" value="{{ order.phone_number }}" name="number" readonly>
            </td>
          </tr>
          <tr>
            <td>Address</td>
            <td>
              <input type="text" value="{{ order.address }}" name="address" >
            </td>
          </tr>
          <tr>
            <td>
              Delivery Boy
            </td>
            <td>
              <input type="text" value="{{ order.delivery_boy }}" name="delivery-boy" >
            </td>
          </tr>
          <tr>
            <td>
              Total Bill
            </td>
            <td>
              <input id="total" type="text" value="{{ order.amount }}" name="amount" >
            </td>
          </tr>
          {% if order.money_received %}
          <tr>
            <td>Payment Made</td>
            <td>
              <input id="payed_amount" type="text" name="payed_amount"  value="{{ order.money_received }}">
            </td>
          </tr>
          <tr>
            <td>Balance</td>
            <td>
              <input id="balance" type="text" name="balance_left" value="{{ order.balance }}" >
            </td>
          </tr>
          {% else %}

            <tr>
              <td>Payment Made</td>
              <td>
                <input id="payed_amount" type="text" name="payed_amount">
              </td>
            </tr>
            <tr>
              <td>Balance</td>
              <td>
                <input id="balance" type="text" name="balance_left">
              </td>
            </tr>
          {% endif %}
        </tbody>
      </table>
    </form>
  </div>
  <script>
    $(document).ready(function (){
      $('#payed_amount').keyup(function (){
        $('#balance').val(-1 * (parseInt($('#payed_amount').val()) - parseInt($('#total').val())));
      });

      $('#status').click(function (){
        console.log($('#status').val())
      })
    });
    $('.thali-num').click(function () {
            var total = 0;
            x = $('.thali-num');
            total += (x[0].value * 60);
            total += (x[1].value * 75);
            total += (x[2].value * 100);
            total += (x[3].value * 125);
            total += (x[4].value * 150);
            total += (x[5].value * 200);
            document.getElementById('total').value = total;
    });
  </script>
-->
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <br>
  <h1 class="text-success">
    Current Balance : {{ customer.balance }}
  </h1>

  <form action="{% url 'specific_order' order.pk %}" method="post">
    {% csrf_token %}
    <h1 class="text-success">
      <strong> Order </strong>
    </h1>
    <input type="number" name="item_no" id="item_no">
    <input type="submit" value="Add Item" id="item_add" class="btn btn-success">
    <table class="table table-borderless" id="order_table">
      <thead>
      </thead>
      <tbody>
        <tr>
          <td>
            <strong>Remarks</strong>
          </td>
          <td>
            <input type="text" value="{{ order.remarks }}" name="remarks">
          </td>
          <td>
            <input type="submit" value="Edit Order" class="btn btn-success">
          </td>
          <td>
            <a href="/billing/bill/{{ order.pk }}" class="btn btn-success">Print Bill</a>
          </td>
        </tr>
        <tr>
          <td>
            <strong>Name</strong>
          </td>
          <td>
            <input type="text" value="{{ order.name }}" name="name" id="name" required>
          </td>
        </tr>
        <tr>
          <td>Phone Number</td>
          <td>
            <input type="text" value="{{ order.phone_number }}" name="number" >
          </td>
        </tr>
        <tr>
          <td>Order</td>
          <!--{#<td>{% for key, value in actual_orders.items %} {% if key == order.pk %} {% for x in value %}<div class="order_x"> {{ x }} </div>
          <br> {% endfor %} {% endif %} {% endfor %}</td>#}-->
          <td id="actual_order">

          </td>
        </tr>
        <tr>
          <td>Total</td>
          <td><input type="number" id="total" name="amount" value="{{ order.amount }}"></td>
        </tr>
        <tr>
          <td>Address</td>
          <td>
            <input type="text" value="{{ order.address }}" name="address">
          </td>
        </tr>
        <tr>
          <td>
            Delivery Boy
          </td>
          <td>
            <input type="text" value="{{ order.delivery_boy }}" name="delivery-boy">
          </td>
        </tr>
         {% if order.money_received %}
        <tr>
          <td>Payment Made</td>
          <td>
            <input id="payed_amount" type="text" name="payed_amount" value="{{ order.money_received }}">
          </td>
        </tr>
        <tr>
          <td>Balance</td>
          <td>
            <input id="balance" type="text" name="balance_left" value="{{ order.balance }}">
          </td>
        </tr>{% if order.money_received %}
        <tr>
          <td>Payment Made</td>
          <td>
            <input id="payed_amount" type="text" name="payed_amount" value="{{ order.money_received }}">
          </td>
        </tr>
        <tr>
          <td>Balance</td>
          <td>
            <input id="balance" type="text" name="balance_left" value="{{ order.balance }}">
          </td>
        </tr>
        {% else %}

        <tr>
          <td>Payment Made</td>
          <td>
            <input id="payed_amount" type="text" name="payed_amount" value="0">
          </td>
        </tr>
        <tr>
          <td>Balance</td>
          <td>
            <input id="balance" type="text" name="balance_left" value="0">
          </td>
        </tr>
        {% endif %}
        {% else %}

        <tr>
          <td>Payment Made</td>
          <td>
            <input id="payed_amount" type="text" name="payed_amount" value="0">
          </td>
        </tr>
        <tr>
          <td>Balance</td>
          <td>
            <input id="balance" type="text" name="balance_left" value="0">
          </td>
        </tr>
        {% endif %}
      </tbody>

    </table>
  </form>
</div>
<script>
  $(document).ready(function (){
    m = '{{ order.order  }}';
    k = m.split(',');
    for (var i = 0; i < k.length - 1; i = i + 1) {
      z = k[i].split(' ');
      //console.log(menu[parseInt(z[0])]);
      x = document.getElementById('actual_order');
      //console.log(x);
      //x.innerHTML = x.innerHTML + '<input type="text" value="' + menu[parseInt(z[0])].name +'">';
      //x.innerHTML = x.innerHTML + '<input type="number" value="' + menu[parseInt(z[0])].rate + '" id="rate' + z[0] + '"' + '>';
      //x.innerHTML = x.innerHTML + '<input type="number" class="quantities" value="' + z[1] + '" name="quantity' + z[0] + '">';
      //x.innerHTML += '<br>'
      $('#actual_order').append('<input type="text" value="' + menu[parseInt(z[0])].name + '">' +
        '<input type="number"' + 'id="rate' + z[0] + '"' + ' value="' + menu[parseInt(z[0])].rate + '">' +
        '<input type="number" class=quantities value="' + z[1] + '" name="quantity' + z[0] + '">' +
        '<br>');
      $('#total').val();
      z = document.getElementsByClassName('quantities');
      for (let i = 0; i < z.length; i = i + 1) {
        z[i].addEventListener('click', get_tot);
        z[i].addEventListener('keyup', get_tot);
      }
    }
  });
  $(document).ready(function () {
    $('#payed_amount').keyup(function () {
      $('#balance').val(-1 * (parseInt($('#payed_amount').val()) - parseInt($('#total').val())));
    });
  });
  function get_tot() {
    //console.log('HAHA');
    z = document.getElementsByClassName('quantities');
    var total = 0;
    for (let i = 0; i < z.length; i = i + 1) {
      name = 'rate' + z[i].name.replace('quantity', '');
      total += document.getElementById(name).value * z[i].value;
    }
    //console.log(total);
    $('#total').val(total);
  }
  $('#item_add').click(function (event) {
    event.preventDefault();
    $.ajax({
      url : '{% url "add_item" %}',
      data : {
        'item_no' : $('#item_no').val()
      },
      dataType : 'json',
      success : function(data) {
        //console.log(data);
        //console.log("HAHA");
        //x = document.getElementById('actual_order');
        //x.innerHTML = x.innerHTML + '<input type="text" value="' + data.name + '">';
        //x.innerHTML = x.innerHTML + '<input type="number"' + 'id="rate' + $('#item_no').val() + '"'  + ' value="' + data.rate + '">';
        //x.innerHTML = x.innerHTML + '<input type="number" class=quantities value="0" name="quantity' + $('#item_no').val() + '">';
        //x.innerHTML += '<br>';
        $('#actual_order').append('<input type="text" value="' + data.name + '">' +
            '<input type="number"' + 'id="rate' + $('#item_no').val() + '"' + ' value="' + data.rate + '">' +
            '<input type="number" class=quantities value="0" name="quantity' + $('#item_no').val() + '">' +
            '<br>');

        z = document.getElementsByClassName('quantities');
        for(let i = 0; i < z.length; i = i + 1) {
          z[i].addEventListener('click', get_tot)
          //function (){
/*            name = 'rate' + this.name.replace('quantity', '');
            let total = 0;
            k = document.getElementsByClassName('quantities');
            for (let j = 0; j < k.length; j = j + 1) {
              name = 'rate' + this.name.replace('quantity', '');
              total = total + parseInt(document.getElementById(name).value) * parseInt(k[j].value);
              console.log(total);
              console.log(k[j], k[j].value)
            }*/
          //});
        }
      }
    });
  });

</script>
{% endblock content %}